@{
    ViewData["Title"] = "Home Page";
}



<form method="post" asp-controller="home" asp-action="Search">
    <label>Tìm kiếm ảnh hoặc video</label>
    <input name="SearchString" value=""/>
    
    <label>Tìm kiếm theo:</label>
    <select name="SearchType">
        <option value="photo">ảnh</option>
        <option value="video">video</option>
    </select>
    <button type="submit">Search</button>
</form>

